openapi: 3.0.3
info:
  title: Solana Developer Platform (SDP) API [DRAFT]
  description: |
    ⚠️ **DRAFT SPECIFICATION** — This document is a work in progress and subject to change.
    Feedback welcome. Not for production implementation yet.

    ---

    Enterprise-grade tokenization infrastructure on Solana, consolidating:
    - **Issuance** — Token-2022 creation with compliance extensions
    - **Payments** — Gasless transfers via Kora, Solana Pay integration
    - **Transactions** — Low-level signing and sending via custody providers

  version: 0.1.0-draft
  contact:
    name: Solana Foundation
    url: https://solana.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0

servers:
  - url: https://api.solana.com/sdp/v1
    description: Production (Mainnet-Beta)
  - url: https://api.solana.com/sdp/v1/sandbox
    description: Sandbox (Devnet)

tags:
  - name: Issuance
    description: Token-2022 creation and management with compliance extensions
  - name: Compliance
    description: Allowlist, freeze, and seizure controls
  - name: Payments
    description: Wallets, transfers, and Solana Pay integration
  - name: Transactions
    description: Low-level transaction signing and sending via custody providers
  - name: Admin
    description: Usage analytics, audit logs, and configuration
  - name: Webhooks
    description: Event notifications

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: API Key
      description: API key authentication

  parameters:
    environmentHeader:
      name: X-SDP-Environment
      in: header
      required: true
      schema:
        type: string
        enum: [sandbox, production]
      description: Target environment (sandbox=Devnet, production=Mainnet-Beta)

    idempotencyKey:
      name: X-SDP-Idempotency-Key
      in: header
      required: true
      schema:
        type: string
        format: uuid
      description: Unique key to ensure idempotent operations (required for POST/PUT/DELETE)

    limitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Maximum number of results to return

    cursorParam:
      name: cursor
      in: query
      schema:
        type: string
      description: Pagination cursor from previous response

    tokenIdPath:
      name: tokenId
      in: path
      required: true
      schema:
        type: string
        pattern: '^tok_[a-zA-Z0-9]+$'
      description: Token identifier

    walletIdPath:
      name: walletId
      in: path
      required: true
      schema:
        type: string
        pattern: '^wal_[a-zA-Z0-9]+$'
      description: Wallet identifier

    transferIdPath:
      name: transferId
      in: path
      required: true
      schema:
        type: string
        pattern: '^xfr_[a-zA-Z0-9]+$'
      description: Transfer identifier

    requestIdPath:
      name: requestId
      in: path
      required: true
      schema:
        type: string
        pattern: '^req_[a-zA-Z0-9]+$'
      description: Payment request identifier

  schemas:
    # ============================================
    # UNSIGNED TRANSACTION RESPONSE (for /prepare endpoints)
    # ============================================
    #
    # The API supports TWO MODES for transaction execution:
    #
    # 1. PREPARE MODE (/prepare suffix)
    #    - Returns unsigned serialized transaction (like Solana Actions/Blinks)
    #    - Client signs with their wallet (wallet adapter, hardware wallet, etc.)
    #    - Client submits the signed transaction
    #    - Use case: Wallet integrations, user-controlled signing
    #
    # 2. EXECUTE MODE (default, no suffix)
    #    - Server signs using custody provider (Fireblocks, Turnkey, etc.)
    #    - Server submits the transaction
    #    - Returns transaction signature and status
    #    - Use case: Server-side automation, treasury operations
    #
    # Client SDK pattern for prepare mode:
    #   const { transaction } = await sdp.transfers.prepare({ from, to, amount });
    #   const signed = await wallet.signTransaction(deserialize(transaction.serialized));
    #   const sig = await connection.sendRawTransaction(signed.serialize());
    #
    UnsignedTransactionResponse:
      type: object
      description: Response containing an unsigned transaction for user-managed signing
      properties:
        transaction:
          type: object
          properties:
            serialized:
              type: string
              format: byte
              description: Base64-encoded unsigned transaction (versioned transaction format)
            message:
              type: string
              format: byte
              description: Base64-encoded transaction message (for inspection/verification)
            recentBlockhash:
              type: string
              description: The recent blockhash used in the transaction
            lastValidBlockHeight:
              type: integer
              description: Block height after which the transaction is no longer valid
          required:
            - serialized
            - message
            - recentBlockhash
            - lastValidBlockHeight
        simulation:
          $ref: '#/components/schemas/SimulationResult'
        estimatedFee:
          type: integer
          description: Estimated transaction fee in lamports
      required:
        - transaction
        - estimatedFee

    PrepareTransferRequest:
      type: object
      description: Request to prepare an unsigned transfer transaction
      properties:
        source:
          type: string
          description: Source wallet ID or pubkey
        destination:
          $ref: '#/components/schemas/Pubkey'
        token:
          type: string
          description: Token symbol or mint address (omit for native SOL)
        amount:
          $ref: '#/components/schemas/TokenAmount'
        memo:
          type: string
          maxLength: 256
        reference:
          $ref: '#/components/schemas/Pubkey'
          description: Optional reference key for tracking (like Solana Pay)
        options:
          type: object
          properties:
            priorityFee:
              type: string
              enum: [none, low, medium, high, auto]
              default: auto
              description: Priority fee level
            simulate:
              type: boolean
              default: true
              description: Include simulation result in response
      required:
        - source
        - destination
        - amount

    PrepareTransferResponse:
      allOf:
        - $ref: '#/components/schemas/UnsignedTransactionResponse'
        - type: object
          properties:
            meta:
              type: object
              properties:
                type:
                  type: string
                  enum: [transfer]
                source:
                  $ref: '#/components/schemas/Pubkey'
                destination:
                  $ref: '#/components/schemas/Pubkey'
                token:
                  type: string
                amount:
                  $ref: '#/components/schemas/TokenAmount'
              required:
                - type
                - source
                - destination
                - amount

    PrepareMintRequest:
      type: object
      description: Request to prepare an unsigned mint transaction
      properties:
        recipient:
          $ref: '#/components/schemas/Pubkey'
        amount:
          $ref: '#/components/schemas/TokenAmount'
        memo:
          type: string
          maxLength: 256
        options:
          type: object
          properties:
            priorityFee:
              type: string
              enum: [none, low, medium, high, auto]
              default: auto
            simulate:
              type: boolean
              default: true
      required:
        - recipient
        - amount

    PrepareMintResponse:
      allOf:
        - $ref: '#/components/schemas/UnsignedTransactionResponse'
        - type: object
          properties:
            meta:
              type: object
              properties:
                type:
                  type: string
                  enum: [token_mint]
                tokenId:
                  type: string
                mint:
                  $ref: '#/components/schemas/Pubkey'
                recipient:
                  $ref: '#/components/schemas/Pubkey'
                amount:
                  $ref: '#/components/schemas/TokenAmount'
              required:
                - type
                - tokenId
                - mint
                - recipient
                - amount

    PrepareBurnRequest:
      type: object
      description: Request to prepare an unsigned burn transaction
      properties:
        source:
          $ref: '#/components/schemas/Pubkey'
        amount:
          $ref: '#/components/schemas/TokenAmount'
        memo:
          type: string
          maxLength: 256
        options:
          type: object
          properties:
            priorityFee:
              type: string
              enum: [none, low, medium, high, auto]
              default: auto
            simulate:
              type: boolean
              default: true
      required:
        - source
        - amount

    PrepareBurnResponse:
      allOf:
        - $ref: '#/components/schemas/UnsignedTransactionResponse'
        - type: object
          properties:
            meta:
              type: object
              properties:
                type:
                  type: string
                  enum: [token_burn]
                tokenId:
                  type: string
                mint:
                  $ref: '#/components/schemas/Pubkey'
                source:
                  $ref: '#/components/schemas/Pubkey'
                amount:
                  $ref: '#/components/schemas/TokenAmount'
              required:
                - type
                - tokenId
                - mint
                - source
                - amount

    PrepareTransactionRequest:
      type: object
      description: Request to build an unsigned transaction from an intent
      properties:
        intent:
          type: object
          description: Transaction intent specifying what to build
          properties:
            type:
              type: string
              enum: [transfer, token_mint, token_burn, token_transfer, stake, unstake, swap, custom]
            params:
              type: object
              additionalProperties: true
              description: Intent-specific parameters
          required:
            - type
            - params
        feePayer:
          $ref: '#/components/schemas/Pubkey'
          description: Fee payer address (defaults to source in intent params)
        options:
          type: object
          properties:
            priorityFee:
              type: string
              enum: [none, low, medium, high, auto]
              default: auto
            simulate:
              type: boolean
              default: true
      required:
        - intent

    PrepareTransactionResponse:
      allOf:
        - $ref: '#/components/schemas/UnsignedTransactionResponse'
        - type: object
          properties:
            intent:
              type: object
              properties:
                type:
                  type: string
                params:
                  type: object
                  additionalProperties: true

    # Common Schemas
    RequestMeta:
      type: object
      properties:
        requestId:
          type: string
          example: req_abc123
      required:
        - requestId

    SuccessResponse:
      type: object
      properties:
        data:
          type: object
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - data
        - meta

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              enum:
                - INVALID_REQUEST
                - UNAUTHORIZED
                - FORBIDDEN
                - NOT_FOUND
                - IDEMPOTENCY_CONFLICT
                - RATE_LIMIT_EXCEEDED
                - INSUFFICIENT_BALANCE
                - WALLET_NOT_ALLOWLISTED
                - WALLET_FROZEN
                - KYC_REQUIRED
                - COMPLIANCE_REJECTED
            message:
              type: string
            details:
              type: object
              additionalProperties: true
          required:
            - code
            - message
        meta:
          $ref: '#/components/schemas/RequestMeta'
      required:
        - error
        - meta

    Pubkey:
      type: string
      pattern: '^[1-9A-HJ-NP-Za-km-z]{32,44}$'
      description: Base58-encoded Solana public key
      example: 7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT

    Signature:
      type: string
      pattern: '^[1-9A-HJ-NP-Za-km-z]{87,88}$'
      description: Base58-encoded transaction signature
      example: 5eykt4UsFv8P8NJdTREpY1vzqKqZKvdp

    TokenAmount:
      type: string
      pattern: '^\d+(\.\d+)?$'
      description: Token amount as decimal string
      example: "1000.00"

    Timestamp:
      type: string
      format: date-time
      example: "2026-01-23T12:00:00Z"

    # Issuance Schemas
    TransferFeeExtension:
      type: object
      properties:
        basisPoints:
          type: integer
          minimum: 0
          maximum: 10000
          description: Transfer fee in basis points (100 = 1%)
        maxFee:
          type: string
          description: Maximum fee in smallest token units
      required:
        - basisPoints
        - maxFee

    ConfidentialTransferExtension:
      type: object
      properties:
        enabled:
          type: boolean
        autoApprove:
          type: boolean
          description: Auto-approve new accounts for confidential transfers
        auditorPubkey:
          type: string
          description: ElGamal public key for auditor decryption
      required:
        - enabled

    TokenExtensions:
      type: object
      properties:
        transferFee:
          $ref: '#/components/schemas/TransferFeeExtension'
        confidentialTransfer:
          $ref: '#/components/schemas/ConfidentialTransferExtension'
        permanentDelegate:
          $ref: '#/components/schemas/Pubkey'

    ComplianceConfig:
      type: object
      properties:
        provider:
          type: string
          enum: [chainalysis, elliptic, trm]
          description: Compliance screening provider
        allowlistEnabled:
          type: boolean
        freezeAuthority:
          $ref: '#/components/schemas/Pubkey'

    TokenAuthorities:
      type: object
      properties:
        mint:
          $ref: '#/components/schemas/Pubkey'
        freeze:
          $ref: '#/components/schemas/Pubkey'
        permanentDelegate:
          $ref: '#/components/schemas/Pubkey'

    CreateTokenRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 32
          example: Enterprise Stablecoin
        symbol:
          type: string
          maxLength: 10
          example: EUSD
        decimals:
          type: integer
          minimum: 0
          maximum: 9
          example: 6
        initialSupply:
          $ref: '#/components/schemas/TokenAmount'
        extensions:
          $ref: '#/components/schemas/TokenExtensions'
        compliance:
          $ref: '#/components/schemas/ComplianceConfig'
      required:
        - name
        - symbol
        - decimals

    Token:
      type: object
      properties:
        id:
          type: string
          pattern: '^tok_[a-zA-Z0-9]+$'
          example: tok_abc123
        mint:
          $ref: '#/components/schemas/Pubkey'
        name:
          type: string
        symbol:
          type: string
        decimals:
          type: integer
        totalSupply:
          $ref: '#/components/schemas/TokenAmount'
        extensions:
          $ref: '#/components/schemas/TokenExtensions'
        authorities:
          $ref: '#/components/schemas/TokenAuthorities'
        status:
          type: string
          enum: [active, frozen, deprecated]
        createdAt:
          $ref: '#/components/schemas/Timestamp'
      required:
        - id
        - mint
        - name
        - symbol
        - decimals
        - totalSupply
        - status
        - createdAt

    MintTokensRequest:
      type: object
      properties:
        recipient:
          $ref: '#/components/schemas/Pubkey'
        amount:
          $ref: '#/components/schemas/TokenAmount'
        memo:
          type: string
          maxLength: 256
      required:
        - recipient
        - amount

    MintOperation:
      type: object
      properties:
        operationId:
          type: string
          pattern: '^op_[a-zA-Z0-9]+$'
        signature:
          $ref: '#/components/schemas/Signature'
        newSupply:
          $ref: '#/components/schemas/TokenAmount'
        status:
          type: string
          enum: [pending, confirmed, failed]
      required:
        - operationId
        - signature
        - newSupply
        - status

    BurnTokensRequest:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/Pubkey'
        amount:
          $ref: '#/components/schemas/TokenAmount'
        memo:
          type: string
          maxLength: 256
      required:
        - source
        - amount

    # Compliance Schemas
    AllowlistEntry:
      type: object
      properties:
        wallet:
          $ref: '#/components/schemas/Pubkey'
        tier:
          type: string
          enum: [retail, accredited, institutional]
        jurisdiction:
          type: string
          pattern: '^[A-Z]{2}$'
          description: ISO 3166-1 alpha-2 country code
        kycReference:
          type: string
        status:
          type: string
          enum: [active, frozen, revoked]
        addedAt:
          $ref: '#/components/schemas/Timestamp'
      required:
        - wallet
        - status

    UpdateAllowlistRequest:
      type: object
      properties:
        action:
          type: string
          enum: [add, update]
        entries:
          type: array
          items:
            type: object
            properties:
              wallet:
                $ref: '#/components/schemas/Pubkey'
              tier:
                type: string
                enum: [retail, accredited, institutional]
              jurisdiction:
                type: string
              kycReference:
                type: string
            required:
              - wallet
      required:
        - action
        - entries

    FreezeAccountRequest:
      type: object
      properties:
        wallet:
          $ref: '#/components/schemas/Pubkey'
        reason:
          type: string
          enum: [compliance_review, suspicious_activity, court_order, user_request]
        reference:
          type: string
      required:
        - wallet
        - reason

    UnfreezeAccountRequest:
      type: object
      properties:
        wallet:
          $ref: '#/components/schemas/Pubkey'
        reference:
          type: string
      required:
        - wallet

    SeizeTokensRequest:
      type: object
      properties:
        source:
          $ref: '#/components/schemas/Pubkey'
        destination:
          $ref: '#/components/schemas/Pubkey'
        amount:
          oneOf:
            - $ref: '#/components/schemas/TokenAmount'
            - type: string
              enum: [all]
        reason:
          type: string
          enum: [court_order, regulatory_action, fraud_recovery]
        reference:
          type: string
      required:
        - source
        - destination
        - amount
        - reason

    ConfidentialTransfer:
      type: object
      properties:
        signature:
          $ref: '#/components/schemas/Signature'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        source:
          $ref: '#/components/schemas/Pubkey'
        destination:
          $ref: '#/components/schemas/Pubkey'
        decryptedAmount:
          $ref: '#/components/schemas/TokenAmount'
        memo:
          type: string

    # Payments Schemas
    CustodyConfig:
      type: object
      properties:
        provider:
          type: string
          enum: [turnkey, privy, aws-kms, fireblocks, vault]
        config:
          type: object
          additionalProperties: true
      required:
        - provider

    CreateWalletRequest:
      type: object
      properties:
        name:
          type: string
          maxLength: 64
        type:
          type: string
          enum: [treasury, operations, user]
        custody:
          $ref: '#/components/schemas/CustodyConfig'
      required:
        - name
        - type
        - custody

    Wallet:
      type: object
      properties:
        id:
          type: string
          pattern: '^wal_[a-zA-Z0-9]+$'
        address:
          $ref: '#/components/schemas/Pubkey'
        name:
          type: string
        type:
          type: string
          enum: [treasury, operations, user]
        custody:
          type: object
          properties:
            provider:
              type: string
        createdAt:
          $ref: '#/components/schemas/Timestamp'
      required:
        - id
        - address
        - name
        - type
        - custody
        - createdAt

    TokenBalance:
      type: object
      properties:
        token:
          type: string
          example: USDC
        mint:
          $ref: '#/components/schemas/Pubkey'
        amount:
          type: string
          description: Raw amount in smallest units
        uiAmount:
          $ref: '#/components/schemas/TokenAmount'
        decimals:
          type: integer
        confidential:
          type: boolean
      required:
        - token
        - mint
        - amount
        - uiAmount
        - decimals
        - confidential

    WalletBalances:
      type: object
      properties:
        walletId:
          type: string
        address:
          $ref: '#/components/schemas/Pubkey'
        balances:
          type: array
          items:
            $ref: '#/components/schemas/TokenBalance'
      required:
        - walletId
        - address
        - balances

    GaslessConfig:
      type: object
      properties:
        enabled:
          type: boolean
        feeToken:
          type: string
          description: Token symbol for fee payment (e.g., USDC)
      required:
        - enabled

    CreateTransferRequest:
      type: object
      properties:
        source:
          type: string
          description: Source wallet ID
        destination:
          $ref: '#/components/schemas/Pubkey'
        token:
          type: string
          description: Token symbol or mint address
        amount:
          $ref: '#/components/schemas/TokenAmount'
        gasless:
          $ref: '#/components/schemas/GaslessConfig'
        memo:
          type: string
          maxLength: 256
      required:
        - source
        - destination
        - token
        - amount

    TransferFee:
      type: object
      properties:
        token:
          type: string
        amount:
          $ref: '#/components/schemas/TokenAmount'

    Transfer:
      type: object
      properties:
        id:
          type: string
          pattern: '^xfr_[a-zA-Z0-9]+$'
        signature:
          $ref: '#/components/schemas/Signature'
        status:
          type: string
          enum: [pending, confirmed, failed]
        source:
          $ref: '#/components/schemas/Pubkey'
        destination:
          $ref: '#/components/schemas/Pubkey'
        token:
          type: string
        amount:
          $ref: '#/components/schemas/TokenAmount'
        fee:
          $ref: '#/components/schemas/TransferFee'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
      required:
        - id
        - signature
        - status
        - source
        - destination
        - token
        - amount
        - timestamp

    CreateConfidentialTransferRequest:
      type: object
      properties:
        source:
          type: string
          description: Source wallet ID
        destination:
          type: string
          description: Destination wallet ID
        token:
          type: string
          description: Token ID (must have confidential transfers enabled)
        amount:
          $ref: '#/components/schemas/TokenAmount'
      required:
        - source
        - destination
        - token
        - amount

    CreatePaymentRequestRequest:
      type: object
      properties:
        recipient:
          type: string
          description: Recipient wallet ID
        amount:
          $ref: '#/components/schemas/TokenAmount'
        token:
          type: string
        label:
          type: string
          maxLength: 64
          description: Merchant/recipient name
        message:
          type: string
          maxLength: 256
          description: Order description
        expiresIn:
          type: integer
          minimum: 60
          maximum: 86400
          description: Expiration time in seconds
      required:
        - recipient
        - amount
        - token

    PaymentRequest:
      type: object
      properties:
        id:
          type: string
          pattern: '^req_[a-zA-Z0-9]+$'
        reference:
          $ref: '#/components/schemas/Pubkey'
        solanaPayUrl:
          type: string
          format: uri
        qrCode:
          type: string
          description: Base64-encoded QR code SVG
        status:
          type: string
          enum: [pending, fulfilled, expired, cancelled]
        expiresAt:
          $ref: '#/components/schemas/Timestamp'
      required:
        - id
        - reference
        - solanaPayUrl
        - qrCode
        - status
        - expiresAt

    FeeQuote:
      type: object
      properties:
        feeToken:
          type: string
        feeAmount:
          $ref: '#/components/schemas/TokenAmount'
        feeInLamports:
          type: integer
        exchangeRate:
          $ref: '#/components/schemas/TokenAmount'
        validUntil:
          $ref: '#/components/schemas/Timestamp'
      required:
        - feeToken
        - feeAmount
        - feeInLamports
        - validUntil

    ExecuteRampRequest:
      type: object
      properties:
        direction:
          type: string
          enum: [onramp, offramp]
        destinationWallet:
          type: string
          description: Wallet ID or Solana address for on-ramp receipt
        sourceWallet:
          type: string
          description: Wallet ID or Solana address for off-ramp source/refund
        cryptoToken:
          type: string
          description: MoonPay currency code (for example usdc_sol)
        fiatCurrency:
          type: string
          enum: [USD]
        fiatAmount:
          $ref: '#/components/schemas/TokenAmount'
        cryptoAmount:
          $ref: '#/components/schemas/TokenAmount'
        kycReference:
          type: string
        redirectUrl:
          type: string
          format: uri
      required:
        - direction
        - cryptoToken
        - fiatCurrency

    # Transaction Schemas
    SendTransactionRequest:
      type: object
      properties:
        wallet:
          type: string
          description: Wallet ID to sign with (uses configured custody provider)
        transaction:
          type: string
          format: byte
          description: Base64-encoded unsigned transaction (serialized Message)
        options:
          $ref: '#/components/schemas/SendOptions'
      required:
        - wallet
        - transaction

    SignTransactionRequest:
      type: object
      properties:
        wallet:
          type: string
          description: Wallet ID to sign with
        transaction:
          type: string
          format: byte
          description: Base64-encoded unsigned transaction
      required:
        - wallet
        - transaction

    SendOptions:
      type: object
      properties:
        skipPreflight:
          type: boolean
          default: false
          description: Skip preflight transaction checks
        preflightCommitment:
          type: string
          enum: [processed, confirmed, finalized]
          default: confirmed
        maxRetries:
          type: integer
          minimum: 0
          maximum: 10
          description: Maximum number of retries for sending
        priorityFee:
          type: string
          enum: [none, low, medium, high, auto]
          default: auto
          description: Priority fee level for transaction

    SignedTransaction:
      type: object
      properties:
        transaction:
          type: string
          format: byte
          description: Base64-encoded signed transaction
        signers:
          type: array
          items:
            $ref: '#/components/schemas/Pubkey'
          description: Public keys that signed the transaction
      required:
        - transaction
        - signers

    TransactionResult:
      type: object
      properties:
        signature:
          $ref: '#/components/schemas/Signature'
        status:
          type: string
          enum: [pending, confirmed, finalized, failed]
        slot:
          type: integer
          description: Slot the transaction was processed in
        confirmations:
          type: integer
          nullable: true
          description: Number of confirmations (null if finalized)
        error:
          type: object
          nullable: true
          description: Transaction error if failed
          properties:
            code:
              type: string
            message:
              type: string
            logs:
              type: array
              items:
                type: string
        timestamp:
          $ref: '#/components/schemas/Timestamp'
      required:
        - signature
        - status

    SimulateTransactionRequest:
      type: object
      properties:
        transaction:
          type: string
          format: byte
          description: Base64-encoded transaction to simulate
        sigVerify:
          type: boolean
          default: false
          description: Verify signatures during simulation
        commitment:
          type: string
          enum: [processed, confirmed, finalized]
          default: confirmed
      required:
        - transaction

    SimulationResult:
      type: object
      properties:
        success:
          type: boolean
        unitsConsumed:
          type: integer
          description: Compute units consumed
        logs:
          type: array
          items:
            type: string
          description: Program logs from simulation
        error:
          type: object
          nullable: true
          properties:
            code:
              type: string
            message:
              type: string
        returnData:
          type: object
          nullable: true
          properties:
            programId:
              $ref: '#/components/schemas/Pubkey'
            data:
              type: string
              format: byte
      required:
        - success
        - logs

    # Admin Schemas
    UsageStats:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        apiRequests:
          type: integer
        transfers:
          type: object
          properties:
            count:
              type: integer
            volume:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/TokenAmount'
        mints:
          type: object
          properties:
            count:
              type: integer
            volume:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/TokenAmount'
        feesCollected:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/TokenAmount'

    AuditLogEntry:
      type: object
      properties:
        id:
          type: string
        action:
          type: string
        resourceType:
          type: string
        resourceId:
          type: string
        actor:
          type: object
          properties:
            type:
              type: string
              enum: [api_key, user, system]
            id:
              type: string
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        details:
          type: object
          additionalProperties: true

    FeeTier:
      type: object
      properties:
        upToUsd:
          type: string
          nullable: true
        bps:
          type: integer

    FeeConfig:
      type: object
      properties:
        model:
          type: string
          enum: [flat, tiered, volume]
        tiers:
          type: array
          items:
            $ref: '#/components/schemas/FeeTier'
        subsidyBudget:
          type: object
          properties:
            enabled:
              type: boolean
            monthlyLimitUsd:
              $ref: '#/components/schemas/TokenAmount'

    SigningPolicy:
      type: object
      properties:
        requireMultiSig:
          type: boolean
        thresholdAmount:
          $ref: '#/components/schemas/TokenAmount'

    CustodyConfiguration:
      type: object
      properties:
        provider:
          type: string
          enum: [turnkey, privy, aws-kms, fireblocks, vault]
        config:
          type: object
          additionalProperties: true
        signingPolicy:
          $ref: '#/components/schemas/SigningPolicy'

    # Webhook Schemas
    CreateWebhookRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
            enum:
              - token.created
              - token.minted
              - token.burned
              - transfer.confirmed
              - transfer.failed
              - transaction.confirmed
              - transaction.failed
              - payment_request.fulfilled
              - payment_request.expired
              - compliance.wallet_frozen
              - compliance.wallet_unfrozen
        secret:
          type: string
          pattern: '^whsec_[a-zA-Z0-9]+$'
      required:
        - url
        - events
        - secret

    Webhook:
      type: object
      properties:
        id:
          type: string
          pattern: '^wh_[a-zA-Z0-9]+$'
        url:
          type: string
          format: uri
        events:
          type: array
          items:
            type: string
        status:
          type: string
          enum: [active, disabled]
        createdAt:
          $ref: '#/components/schemas/Timestamp'

    WebhookPayload:
      type: object
      properties:
        id:
          type: string
          pattern: '^evt_[a-zA-Z0-9]+$'
        type:
          type: string
        createdAt:
          $ref: '#/components/schemas/Timestamp'
        data:
          type: object
          additionalProperties: true
      required:
        - id
        - type
        - createdAt
        - data

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: INVALID_REQUEST
              message: Malformed request body
              details: {}
            meta:
              requestId: req_abc123

    Unauthorized:
      description: Missing or invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or missing API key
            meta:
              requestId: req_abc123

    Forbidden:
      description: Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: RATE_LIMIT_EXCEEDED
              message: Too many requests
              details:
                retryAfter: 60
            meta:
              requestId: req_abc123

paths:
  # ============================================
  # ISSUANCE API
  # ============================================

  /issuance/tokens:
    post:
      tags: [Issuance]
      summary: Create Token
      description: Creates a new Token-2022 mint with optional compliance extensions
      operationId: createToken
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTokenRequest'
      responses:
        '201':
          description: Token created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Token'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

    get:
      tags: [Issuance]
      summary: List Tokens
      description: Lists all tokens created by this organization
      operationId: listTokens
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, frozen, deprecated]
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Tokens retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          tokens:
                            type: array
                            items:
                              $ref: '#/components/schemas/Token'
                          nextCursor:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /issuance/tokens/{tokenId}:
    get:
      tags: [Issuance]
      summary: Get Token
      description: Retrieves details for a specific token
      operationId: getToken
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/tokenIdPath'
      responses:
        '200':
          description: Token retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Token'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/mint/prepare:
    post:
      tags: [Issuance]
      summary: Prepare Mint (Unsigned)
      description: |
        Builds an unsigned mint transaction for user-managed signing.

        **Use this endpoint when:**
        - Mint authority is held in a user wallet (not custody)
        - Building multi-sig mint flows
        - You need to inspect the transaction before signing

        **Flow:**
        1. Call this endpoint to get the unsigned transaction
        2. Sign with the mint authority wallet
        3. Submit the signed transaction

        See also: `POST /issuance/tokens/{tokenId}/mint` for custody signing.
      operationId: prepareMintTokens
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareMintRequest'
            example:
              recipient: "7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT"
              amount: "1000000"
              options:
                simulate: true
      responses:
        '200':
          description: Unsigned mint transaction prepared successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PrepareMintResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/mint:
    post:
      tags: [Issuance]
      summary: Mint Tokens (Custody)
      description: |
        Mints new tokens using server-side custody signing.

        The server signs with the mint authority using the configured
        custody provider and submits the transaction.

        See also: `POST /issuance/tokens/{tokenId}/mint/prepare` for user-managed signing.
      operationId: mintTokens
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MintTokensRequest'
      responses:
        '200':
          description: Mint operation successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MintOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/burn/prepare:
    post:
      tags: [Issuance]
      summary: Prepare Burn (Unsigned)
      description: |
        Builds an unsigned burn transaction for user-managed signing.

        **Use this endpoint when:**
        - Token owner signs with their own wallet
        - Building user-initiated burn flows (redemptions, etc.)

        See also: `POST /issuance/tokens/{tokenId}/burn` for custody signing.
      operationId: prepareBurnTokens
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareBurnRequest'
      responses:
        '200':
          description: Unsigned burn transaction prepared successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PrepareBurnResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/burn:
    post:
      tags: [Issuance]
      summary: Burn Tokens (Custody)
      description: |
        Burns tokens using server-side custody signing.

        See also: `POST /issuance/tokens/{tokenId}/burn/prepare` for user-managed signing.
      operationId: burnTokens
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BurnTokensRequest'
      responses:
        '200':
          description: Burn operation successful
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/MintOperation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # COMPLIANCE API
  # ============================================

  /issuance/tokens/{tokenId}/allowlist:
    get:
      tags: [Compliance]
      summary: Get Allowlist
      description: Retrieves the allowlist for a token
      operationId: getAllowlist
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/tokenIdPath'
        - name: status
          in: query
          schema:
            type: string
            enum: [active, frozen, revoked]
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Allowlist retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          entries:
                            type: array
                            items:
                              $ref: '#/components/schemas/AllowlistEntry'
                          nextCursor:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Compliance]
      summary: Update Allowlist
      description: Adds or updates entries in the token allowlist
      operationId: updateAllowlist
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAllowlistRequest'
      responses:
        '200':
          description: Allowlist updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          updated:
                            type: integer
                          entries:
                            type: array
                            items:
                              $ref: '#/components/schemas/AllowlistEntry'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/allowlist/{wallet}:
    delete:
      tags: [Compliance]
      summary: Remove from Allowlist
      description: Removes a wallet from the token allowlist
      operationId: removeFromAllowlist
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/tokenIdPath'
        - name: wallet
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Pubkey'
      responses:
        '204':
          description: Wallet removed from allowlist
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/freeze:
    post:
      tags: [Compliance]
      summary: Freeze Account
      description: Freezes a wallet's token account
      operationId: freezeAccount
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreezeAccountRequest'
      responses:
        '200':
          description: Account frozen successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          signature:
                            $ref: '#/components/schemas/Signature'
                          wallet:
                            $ref: '#/components/schemas/Pubkey'
                          status:
                            type: string
                            enum: [frozen]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/unfreeze:
    post:
      tags: [Compliance]
      summary: Unfreeze Account
      description: Unfreezes a wallet's token account
      operationId: unfreezeAccount
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnfreezeAccountRequest'
      responses:
        '200':
          description: Account unfrozen successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          signature:
                            $ref: '#/components/schemas/Signature'
                          wallet:
                            $ref: '#/components/schemas/Pubkey'
                          status:
                            type: string
                            enum: [active]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/seize:
    post:
      tags: [Compliance]
      summary: Seize Tokens
      description: Seizes tokens from a frozen account (requires permanentDelegate extension)
      operationId: seizeTokens
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - $ref: '#/components/parameters/tokenIdPath'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SeizeTokensRequest'
      responses:
        '200':
          description: Tokens seized successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          signature:
                            $ref: '#/components/schemas/Signature'
                          amount:
                            $ref: '#/components/schemas/TokenAmount'
                          source:
                            $ref: '#/components/schemas/Pubkey'
                          destination:
                            $ref: '#/components/schemas/Pubkey'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /issuance/tokens/{tokenId}/confidential/audit:
    get:
      tags: [Compliance]
      summary: Confidential Audit
      description: Returns auditor-decrypted transfer history for confidential transfers
      operationId: getConfidentialAudit
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/tokenIdPath'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Audit data retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          transfers:
                            type: array
                            items:
                              $ref: '#/components/schemas/ConfidentialTransfer'
                          nextCursor:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # PAYMENTS API
  # ============================================

  /payments/wallets:
    post:
      tags: [Payments]
      summary: Create Wallet
      description: Creates a new managed wallet with specified custody provider
      operationId: createWallet
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '201':
          description: Wallet created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Wallet'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      tags: [Payments]
      summary: List Wallets
      description: Lists all wallets for this organization
      operationId: listWallets
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - name: type
          in: query
          schema:
            type: string
            enum: [treasury, operations, user]
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Wallets retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          wallets:
                            type: array
                            items:
                              $ref: '#/components/schemas/Wallet'
                          nextCursor:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/wallets/{walletId}:
    get:
      tags: [Payments]
      summary: Get Wallet
      description: Retrieves details for a specific wallet
      operationId: getWallet
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/walletIdPath'
      responses:
        '200':
          description: Wallet retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Wallet'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/wallets/{walletId}/balances:
    get:
      tags: [Payments]
      summary: Get Balances
      description: Retrieves token balances for a wallet
      operationId: getWalletBalances
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/walletIdPath'
      responses:
        '200':
          description: Balances retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/WalletBalances'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/transfers/prepare:
    post:
      tags: [Payments]
      summary: Prepare Transfer (Unsigned)
      description: |
        Builds an unsigned transfer transaction for user-managed signing.

        **Use this endpoint when:**
        - Users sign with their own wallet (wallet adapter, hardware wallet)
        - Building Solana Actions/Blinks-style flows
        - You need to inspect the transaction before signing

        **Flow:**
        1. Call this endpoint to get the unsigned transaction
        2. Deserialize and sign with wallet adapter or hardware wallet
        3. Submit the signed transaction via RPC or `/transactions/send`

        See also: `POST /payments/transfers` for server-side custody signing.
      operationId: prepareTransfer
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareTransferRequest'
            example:
              source: "wal_abc123"
              destination: "7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT"
              token: "USDC"
              amount: "100.00"
              options:
                priorityFee: "medium"
                simulate: true
      responses:
        '200':
          description: Unsigned transaction prepared successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PrepareTransferResponse'
              example:
                data:
                  transaction:
                    serialized: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia..."
                    message: "AQABAgIAAA..."
                    recentBlockhash: "GHtXQBsoZHVnNFa9YevAzFr17DJjgHXk3ycTKD5xD3Zi"
                    lastValidBlockHeight: 150000000
                  simulation:
                    success: true
                    unitsConsumed: 200
                    logs: ["Program 11111111111111111111111111111111 invoke [1]"]
                  estimatedFee: 5000
                  meta:
                    type: "transfer"
                    source: "4Nd1mBQtrMJVYVfKf2PJy9NZUZdTAsp7D4xWLs4gDB4T"
                    destination: "7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT"
                    token: "USDC"
                    amount: "100.00"
                meta:
                  requestId: req_abc123
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/transfers:
    post:
      tags: [Payments]
      summary: Execute Transfer (Custody)
      description: |
        Creates and executes a transfer using server-side custody signing.

        **Use this endpoint when:**
        - Operating treasury or operations wallets
        - Running automated payment flows
        - Server has custody provider configured (Turnkey, Fireblocks, etc.)

        The server signs the transaction using the configured custody provider
        and submits it to the network.

        See also: `POST /payments/transfers/prepare` for user-managed signing.
      operationId: createTransfer
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTransferRequest'
      responses:
        '200':
          description: Transfer completed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transfer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      tags: [Payments]
      summary: List Transfers
      description: Lists transfers for this organization
      operationId: listTransfers
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - name: wallet
          in: query
          schema:
            type: string
          description: Filter by wallet ID
        - name: token
          in: query
          schema:
            type: string
          description: Filter by token symbol or mint
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, failed]
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Transfers retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          transfers:
                            type: array
                            items:
                              $ref: '#/components/schemas/Transfer'
                          nextCursor:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/transfers/confidential:
    post:
      tags: [Payments]
      summary: Create Confidential Transfer
      description: Creates a confidential transfer using Token-2022 confidential transfers
      operationId: createConfidentialTransfer
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConfidentialTransferRequest'
      responses:
        '200':
          description: Confidential transfer completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transfer'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/transfers/{transferId}:
    get:
      tags: [Payments]
      summary: Get Transfer
      description: Retrieves details for a specific transfer
      operationId: getTransfer
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/transferIdPath'
      responses:
        '200':
          description: Transfer retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Transfer'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/requests:
    post:
      tags: [Payments]
      summary: Create Payment Request
      description: Creates a Solana Pay payment request with QR code
      operationId: createPaymentRequest
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequestRequest'
      responses:
        '201':
          description: Payment request created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentRequest'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/requests/{requestId}:
    get:
      tags: [Payments]
      summary: Get Payment Request
      description: Retrieves a payment request and its current status
      operationId: getPaymentRequest
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/requestIdPath'
      responses:
        '200':
          description: Payment request retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PaymentRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/fees/quote:
    get:
      tags: [Payments]
      summary: Get Fee Quote
      description: Gets a fee quote for a transfer
      operationId: getFeeQuote
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - name: token
          in: query
          required: true
          schema:
            type: string
          description: Fee token mint or symbol
        - name: amount
          in: query
          required: true
          schema:
            type: string
          description: Transfer amount
      responses:
        '200':
          description: Fee quote retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FeeQuote'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /payments/ramps/execute:
    post:
      tags: [Payments]
      summary: Execute Ramp
      description: Creates a MoonPay fiat/crypto ramp session (USD only)
      operationId: executeRamp
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecuteRampRequest'
      responses:
        '200':
          description: Ramp execution initiated
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id:
                            type: string
                          status:
                            type: string
                            enum: [pending, processing, completed, failed]
                          redirectUrl:
                            type: string
                            format: uri
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # TRANSACTIONS API
  # ============================================
  #
  # Transaction Lifecycle:
  #
  # For CLIENT-SIDE signing (user wallet):
  #   1. POST /transactions/prepare  → Get unsigned tx
  #   2. Sign with wallet adapter
  #   3. POST /transactions/send OR submit via RPC
  #
  # For SERVER-SIDE signing (custody):
  #   1. POST /transactions/sign  → Get signed tx (don't send)
  #   2. POST /transactions/send  → Sign and send in one step
  #
  # For ANY transaction:
  #   - POST /transactions/simulate  → Test without sending
  #   - GET  /transactions/{sig}     → Check status
  #

  /transactions/prepare:
    post:
      tags: [Transactions]
      summary: Prepare Transaction (Unsigned)
      description: |
        Builds an unsigned transaction from a transaction intent.

        This is the low-level primitive for building any transaction type.
        Higher-level endpoints like `/payments/transfers/prepare` use this internally.

        **Use this endpoint when:**
        - Building custom transaction flows
        - Need fine-grained control over transaction construction
        - Implementing Solana Actions/Blinks patterns

        **Intent types supported:**
        - `transfer` - SOL or token transfer
        - `token_mint` - Mint tokens
        - `token_burn` - Burn tokens
        - `token_transfer` - SPL token transfer
        - `stake` - Stake SOL
        - `unstake` - Unstake SOL
        - `swap` - Token swap (via Jupiter, etc.)
        - `custom` - Raw instructions

        **Example flow:**
        ```typescript
        // 1. Prepare unsigned transaction
        const { transaction } = await sdp.transactions.prepare({
          intent: { type: 'transfer', params: { from, to, amount } }
        });

        // 2. Deserialize and sign
        const tx = VersionedTransaction.deserialize(
          Buffer.from(transaction.serialized, 'base64')
        );
        const signed = await wallet.signTransaction(tx);

        // 3. Submit
        const sig = await connection.sendRawTransaction(signed.serialize());
        ```
      operationId: prepareTransaction
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrepareTransactionRequest'
            examples:
              transfer:
                summary: Prepare a transfer
                value:
                  intent:
                    type: transfer
                    params:
                      from: "4Nd1mBQtrMJVYVfKf2PJy9NZUZdTAsp7D4xWLs4gDB4T"
                      to: "7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT"
                      amount: "1000000"
                      mint: "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
                  options:
                    priorityFee: "medium"
                    simulate: true
              mint:
                summary: Prepare a token mint
                value:
                  intent:
                    type: token_mint
                    params:
                      tokenId: "tok_abc123"
                      recipient: "7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT"
                      amount: "1000000"
      responses:
        '200':
          description: Unsigned transaction prepared successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/PrepareTransactionResponse'
              example:
                data:
                  transaction:
                    serialized: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia..."
                    message: "AQABAgIAAA..."
                    recentBlockhash: "GHtXQBsoZHVnNFa9YevAzFr17DJjgHXk3ycTKD5xD3Zi"
                    lastValidBlockHeight: 150000000
                  simulation:
                    success: true
                    unitsConsumed: 200
                    logs: ["Program 11111111111111111111111111111111 invoke [1]"]
                  estimatedFee: 5000
                  intent:
                    type: transfer
                    params:
                      from: "4Nd1mBQtrMJVYVfKf2PJy9NZUZdTAsp7D4xWLs4gDB4T"
                      to: "7kbnvuGBxxj8AG9qp8Scn56muWGaRaFqxg1FsRp3PaFT"
                      amount: "1000000"
                meta:
                  requestId: req_abc123
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /transactions/send:
    post:
      tags: [Transactions]
      summary: Sign and Send Transaction
      description: |
        Signs an unsigned transaction using the specified wallet's custody provider and sends it to the network.
        This is the low-level primitive that higher-level operations (transfers, mints) use internally.
        Enables services to implement SDP signing directly without JSONRPC intermediaries.
      operationId: sendTransaction
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendTransactionRequest'
            example:
              wallet: "wal_abc123"
              transaction: "AQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAAEDArczbMia..."
              options:
                skipPreflight: false
                preflightCommitment: "confirmed"
                priorityFee: "auto"
      responses:
        '200':
          description: Transaction sent successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /transactions/sign:
    post:
      tags: [Transactions]
      summary: Sign Transaction
      description: |
        Signs a transaction using the wallet's custody provider but does NOT send it.
        Returns the signed transaction for the caller to send via their own infrastructure.
        Useful for services that want SDP custody but handle their own transaction submission.
      operationId: signTransaction
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignTransactionRequest'
      responses:
        '200':
          description: Transaction signed successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SignedTransaction'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Wallet not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /transactions/simulate:
    post:
      tags: [Transactions]
      summary: Simulate Transaction
      description: |
        Simulates a transaction without sending it to the network.
        Returns compute units consumed, logs, and any errors.
      operationId: simulateTransaction
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimulateTransactionRequest'
      responses:
        '200':
          description: Simulation completed
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SimulationResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /transactions/{signature}:
    get:
      tags: [Transactions]
      summary: Get Transaction Status
      description: |
        Retrieves the status and details of a previously submitted transaction.
      operationId: getTransactionStatus
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - name: signature
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/Signature'
          description: Transaction signature
        - name: commitment
          in: query
          schema:
            type: string
            enum: [processed, confirmed, finalized]
            default: confirmed
      responses:
        '200':
          description: Transaction status retrieved
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransactionResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Transaction not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ============================================
  # ADMIN API
  # ============================================

  /admin/usage:
    get:
      tags: [Admin]
      summary: Get Usage Stats
      description: Retrieves usage statistics for the organization
      operationId: getUsageStats
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - name: from
          in: query
          schema:
            type: string
            format: date
          description: "Start date (default: 30 days ago)"
        - name: to
          in: query
          schema:
            type: string
            format: date
          description: "End date (default: today)"
      responses:
        '200':
          description: Usage stats retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/UsageStats'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/audit:
    get:
      tags: [Admin]
      summary: Query Audit Logs
      description: Queries the audit log for this organization
      operationId: queryAuditLogs
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - name: action
          in: query
          schema:
            type: string
          description: Filter by action (e.g., token.create, transfer.send)
        - name: wallet
          in: query
          schema:
            type: string
          description: Filter by wallet
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/cursorParam'
      responses:
        '200':
          description: Audit logs retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          entries:
                            type: array
                            items:
                              $ref: '#/components/schemas/AuditLogEntry'
                          nextCursor:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/fees:
    get:
      tags: [Admin]
      summary: Get Fee Config
      description: Retrieves the current fee configuration
      operationId: getFeeConfig
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
      responses:
        '200':
          description: Fee config retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FeeConfig'
        '401':
          $ref: '#/components/responses/Unauthorized'

    put:
      tags: [Admin]
      summary: Update Fee Config
      description: Updates the fee configuration
      operationId: updateFeeConfig
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FeeConfig'
      responses:
        '200':
          description: Fee config updated successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FeeConfig'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /admin/custody:
    put:
      tags: [Admin]
      summary: Configure Custody
      description: Configures the custody provider settings
      operationId: configureCustody
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustodyConfiguration'
      responses:
        '200':
          description: Custody configured successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          provider:
                            type: string
                          status:
                            type: string
                            enum: [active, pending_verification]
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ============================================
  # WEBHOOKS API
  # ============================================

  /webhooks:
    post:
      tags: [Webhooks]
      summary: Configure Webhook
      description: Creates or updates a webhook endpoint
      operationId: configureWebhook
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook configured successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/Webhook'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

    get:
      tags: [Webhooks]
      summary: List Webhooks
      description: Lists all configured webhooks
      operationId: listWebhooks
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
      responses:
        '200':
          description: Webhooks retrieved successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/SuccessResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          webhooks:
                            type: array
                            items:
                              $ref: '#/components/schemas/Webhook'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /webhooks/{webhookId}:
    delete:
      tags: [Webhooks]
      summary: Delete Webhook
      description: Deletes a webhook endpoint
      operationId: deleteWebhook
      parameters:
        - $ref: '#/components/parameters/environmentHeader'
        - $ref: '#/components/parameters/idempotencyKey'
        - name: webhookId
          in: path
          required: true
          schema:
            type: string
            pattern: '^wh_[a-zA-Z0-9]+$'
      responses:
        '204':
          description: Webhook deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
